
*{
    -fx-alignment: Center;
    -fx-font-size: 20;
}



#root {
    -fx-spacing: 30;
}

#attemptLabel {
    -fx-underline: true;
}
#ButtonField {

    -fx-spacing: 40;
}
.button {
    -fx-pref-width: 200;
    -fx-pref-height: 100;
    -fx-font-size: 20;
}
#curWord {
    -fx-font-size: 20;
    -fx-font-weight: BOLD;

}
#letterField {
    -fx-max-width: 120;
    -fx-pref-height: 100;
    -fx-font-size: 50;
}

#promptText {
    -fx-font-size: 20;

}

#curWord {
    -fx-text-letter-spacing: 2;
}
