
*{
    -fx-alignment: Center;
}



#root {
    -fx-spacing: 20;
}

#CategoryName {
	-fx-font-size:20;
}

#attemptLabel {
	-fx-font-size: 20;
    -fx-underline: true;
}
#ButtonField {
    -fx-spacing: 40;
}
.button {
	-fx-font-size: 20;
    -fx-pref-width: 200;
    -fx-pref-height: 100;
}

#curWord {
	-fx-font-family:'Courier New', Courier, monospace;
    -fx-font-weight: bold;
    -fx-font-size: 50;
}
#letterField {
    -fx-max-width: 70;
    -fx-pref-height: 50;
    -fx-font-size: 25;
}

#promptText {
    -fx-font-size: 15;
	-fx-padding: 20 0 0 0
}
